.foodCard{
    display: flex;
    justify-content: center;
    .card{
        background-color: #F5F5F5;
        height: 142px;
        width: 349px;
        border-radius: 10px;
        padding: 10px;
        position: relative;
        .foodImg{
            margin: 10px;
            img{
                height: 120px;
                width: 145px;
                border-radius: 10px;
            }
        }
        .foodName{
            position: absolute;
            left: 50%;
            top: 10%;
            .amount{
                position: absolute;
                top: 50px;
            }
        }

        .operate{
            position: absolute;
            right: 5%;
            top: 10%;
            display: flex;
            flex-direction: column;
            .delete{
                width: 18px;
                height: 18px;
            }
            .modify{
                position: relative;
                top:100px;
                width: 18px;
                height: 18px;
            }
        }
    }
}