<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../scss/all.css">
</head>
<body class="recipeCard">
    <div class="card">
        <div class="recipeImg">
            <img src="" alt="">image
            <div class="xsCard">
                <p class="recipeInfo">食譜名稱</p>
                <p class="recipeInfo">創建者</p>
                <hr>
                <p class="feedback"><img src="../images/good.png">按讚數 <img src="../images/time.png">烹飪時間 <img src="../images/hard.png">難度</p>
            </div>
        </div>
    </div>
    <!-- <div class="xsCard">
            
    </div> -->
</body>
</html>